*{
    padding: 0;
    margin: 0;
}
.imgfondDebut{
    background: url('../Images/thousand-sunny.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.imgfondDoctwo{
    background: url('../Images/thousand-sunny-doc-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.competence{
    background: url('../Images/attelier-de-franky.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.formation{
    background: url('../Images/bibiliotheque-fond.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.imgfondDocthree{
    background: url('../Images/thousand-sunny-doc-3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.experiencePro{
    background: url('../Images/salle-des-homme-fond.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.imgfondDocfour{
    background: url('../Images/thousand-sunny-doc-4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.infoCon{
    background: url('../Images/cuisine-fond.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



@media (max-width:1600px){
    /*pour le menuP*/
    .competences{
        margin-top: -6.5rem;
    }
    /* menuP2*/
    .formations{
        margin-top: -6.5rem;
    }
    /*menuP3*/
    .experience{
        margin-top: -6.5rem;
    }
    /*menuP4*/
    .infoComp{
        margin-top: -6.5rem;
    }
    
}
@media (max-width: 1250px){
    /*competence*/
    .usopp{
        position: relative;
        top: 5rem;
    }
}
@media (max-width: 916px){
    /*pour le menuP*/
    .competences{
        margin-left: 21rem;
    }
    /* menuP2*/
    .formations{
        margin-left: 21rem;
    }
    /*menuP3*/
    .experience{
        margin-left: 21rem;
    }
    /*menuP4*/
    .infoComp{
        margin-left: 21rem;
    }
    
}

@media (max-width: 570px) {
    /* Pour l'index.html */
    .imgfondDebut{
        background: url('../Images/thousand-sunny-redimensionner\(1\).jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .imgfondDoctwo{
        background: url('../Images/thousand-sunny-doc-2-redimensionner.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .imgfondDocthree{
        background: url('../Images/thousand-sunny-doc-3-redimenssioner.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .imgfondDocfour{
        background: url('../Images/thousand-sunny-doc-4-redimensionner.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .boutonCentral{
        margin-bottom: 1rem;
    }
    .competence{
        background: url('../Images/attelier-de-franky-redimensioner.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    /* pour frankyDebut.html*/
    .boutonFranckyDebut{
        margin-bottom: 1rem;
    }
    /* pour le menuP */
    .competences{
        position: relative;
        right: 10rem;
    }
    /* menuP2*/
    .formations{
        position: relative;
        right: 12rem;
    }
    /*menuP3*/
    .experience{
        position: relative;
        right: 12rem;
    }
    /*menuP4*/
    .infoComp{
        position: relative;
        right: 14rem;
    }
    /*competence*/
    .usopp{
        /*rien a mettre*/
    }
    .sanji{
        position: relative;
        top: 5rem;
    }
    .bR{
        width: 5%;
    }
}